* {
  box-sizing: border-box;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.box-container {
  position: relative;
  width: 80vw;
  height: 70vh;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 20px 0 rgba(47, 0, 255, 0.4),
    0 2px 20px 0 rgba(255, 255, 255, 0.887);
  overflow: hidden;
}

.box-container::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #4954cc, #0c192e);
  left: -50%;
  transform: translateX(100%);
  transition: 0.8s ease-in-out;
  z-index: 6;
}



.signin-signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  min-width: 238px;
  padding: 0 10px;
}
.reg-account{
  margin-left: 5px;
  color: rgb(100, 214, 255);
}
form.sign-in-form {
  opacity: 1;
  transition: 0.4s ease-in-out;
  transition-delay: 0.8s;
}
form.sign-up-form {
  opacity: 0;
  transition: 0.4s ease-in-out;
  transition-delay: 0.8s;
}
.title {
  font-size: 35px;
  color: #5977d8;
  margin-bottom: 1rem;
}

.input-field {
  width: 100%;
  height: 50px;
  background: #f0f0f0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #5977d8;
  margin: 10px 0;
}
.input-field i {
  flex: 1;
  text-align: center;
  color: #b4cfff;
  font-size: 18px;
}
.input-field input {
  flex: 5;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #5977d8;
}


.btn1 {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  margin: 1.5rem 0;
  color: #faecc9;
  border: 2px solid #faecc9;
  background-color: transparent;
}

.btnSolid{
  border: none;
  color: #fff;
  background-color: #5977d8;
}

.btn1:hover {
  background: #b4cfff;
  transition: .2s ease-in;

}
.displayErr{
  color: red;
  font-size: 15px;
}
.panels-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  min-width: 238px;
  padding: 0 10px;
  text-align: center;
  z-index: 6;
}
.check-account{
  display: none;
}
.image {
  margin-top: 2rem;
  width: 100%;
  transition: 1s ease-in-out;
  transition-delay: 0.3s;
}
.content {
  color: #fff;
  transition: 1s ease-in-out;
  transition-delay: 0.3s;
}
.flName{
  display: flex; 
  gap: 10px;
  width: 100%;
}

.left-panel {
  pointer-events: none;
  overflow: hidden;
}
.panel h3 {
  font-size: 25px;
  font-weight: 600;
  color:white;
}
.panel p {
  font-size: 15px;
  padding: 10px;
  transition: 1s ease-in-out;
}
.left-panel .image,
.left-panel .content {
  transform: translateX(-200%);
}
.right-panel .image,
.right-panel .content {
  transform: translateX(0);
}

.box-container.sign-up-mode::before {
  transform: translateX(0);
}

.box-container.sign-up-mode .right-panel .image,
.box-container.sign-up-mode .right-panel .content {
  transform: translateX(200%);
}

.box-container.sign-up-mode .left-panel .image,
.box-container.sign-up-mode .left-panel .content {
  transform: translateX(0);
}

.box-container.sign-up-mode form.sign-in-form {
  opacity: 0;
}
.box-container.sign-up-mode form.sign-up-form {
  opacity: 1;
}
.box-container.sign-up-mode .right-panel {
  pointer-events: none;
}
.box-container.sign-up-mode .left-panel {
  pointer-events: all;
}

@media (max-width: 779px) {
  .box-container {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}
@media (max-width: 635px) {
  .box-container::before {
    display: none;
  }
  form{
    width: 80%;
  }
  form.sign-up-form {
    display: none;
  }
  .check-account{
    display: initial;
  }
  .box-container.sign-up-mobile-mode form.sign-up-form{
    display: flex;
    opacity: 1;
  }
  .box-container.sign-up-mobile-mode form.sign-in-form{
    display: none;
  }
  .panels-container {
    display: none;
  }
}


