video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top:80px;
}

.first-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.first-container > h1 {
  color: #faecc9;
  font-size: 100px;
  margin-top: -100px;
}

.first-container > p {
  margin-top: 8px;
  color: #faecc9;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.first-btns {
  margin-top: 32px;
}

.first-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .first-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
  .first-container > p {
    font-size: 40px;
    text-align: center;
    padding: 0 3rem;
  }
}

@media screen and (max-width: 768px) {
  .first-container > h1 {
    font-size: 60px;
    margin-top: -100px;
    text-align: center;
  }

  .first-container > p {
    font-size: 25px;
    text-align: center;
    padding: 0 3rem;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .first-container > h1 {
    font-size: 40px;
    margin-top: -100px;
    text-align: center;
    padding: 0 0.5rem;
  }

  .first-container > p {
    font-size: 20px;
    text-align: center;
    padding: 0 0.5rem;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}
